body{
    background: #3e36d6;
    margin: 15px;
    padding: 10px;
}
div{
    height: 200px;
    width: 100%;
    color:white;
}
p{
    background-attachment: yellow;
    font-family: Arial, Helvetica, sans-serif;
}